# https://help.github.com/articles/about-codeowners/
# https://github.com/blog/2392-introducing-code-owners
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       mwhipple